#### Understanding deep learning with `python`

<p align="center"><img width="200" src="milky way.png" alt="img"/></p>

In [4]:
age =28
message = "Happy ".strip() + str(age) +  "    Banele".strip()
message

'Happy28Banele'

In [5]:
cars = ["bens","aud","tazz","Tesla","merceedez"]
cars

['bens', 'aud', 'tazz', 'Tesla', 'merceedez']

In [6]:
print("The car is: "+ cars[-1])

The car is: merceedez

In [11]:
print("The car is: "+ cars[2])

The car is: tazz

Modifying the elements in a list like adding deleting etc.

In [7]:
cars[0]="tiguan"
cars

['tiguan', 'aud', 'tazz', 'Tesla', 'merceedez']

if adding element in the list they are only appended at the end of the list only one argument the `.append` function takes

In [9]:
cars.append("BMW")
cars

['tiguan', 'aud', 'tazz', 'Tesla', 'merceedez', 'BMW']

**inserting the elements into the list by using the `insect()` method, you just specify the index of the new element
and the value to be inserted as follows:**

In [11]:
cars.insert(0,"corola")
cars

['corola', 'tiguan', 'aud', 'tazz', 'Tesla', 'merceedez', 'BMW']

**If you know the position of the item you want to remove from a list, you can 
use the `del` statement.**

In [12]:
del cars[1] #target tiguan
cars

['corola', 'aud', 'tazz', 'Tesla', 'merceedez', 'BMW']

In [36]:
cars[-3].title()

'Corola'

You can use the `sort()` method to arrange the elements in a list alphabetical as ff:

In [16]:
cars.sort()
cars

['BMW', 'Tesla', 'aud', 'corola', 'merceedez', 'tazz']

In [22]:
#new list of cars name car that we are working with now
car = ['toyota','bmw','tesla','aud','tazz']

##### Understanding the if statement with python

In [42]:
#new list of cars name car that we are working with now
car = ['toyota','bmw','tesla','aud','tazz']

car[0].upper()
for i in car:
    print(i)
    




#     if i == 'bmw':
#         print(car.upper()) 
#     else:
#         print(car)
            


# c

toyota
bmw
tesla
aud
tazz

'tazz'